*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
}
.main{
  margin: 100px 400px;
  width: 570px;
}
h1,h2,h3,p{
  text-align: center;
}
img{
  margin-left: 150px;
}